body {
  font-family: @sansFontFamily;
  font-style: normal;
  color: @color-font;

  .navbar {
    background-color: @color-header;
    font-size: 35px;
    line-height: 60px;
    padding: 0 10px !important;

    &.header {
      border-bottom: 1px solid @color-border;
      margin-top: 0 !important;
    }

    &.footer {
      border-top: 1px solid @color-border;
    }

    .navbar-header {
      font-size: 1.5em;
      margin-top: 15px;
    }

    a {

      i {
        font-size: 30px;
        float: right;
        margin: 20px 5px 0 10px;
      }
    }
  }

  .content-container {
    margin: 70px 0;

    .outer-chart-container {

      h2 {
        background-color: @color-warn;
        border: 1px solid @color-border;
        border-bottom: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: #fff;
        font-size: 1.5em;
        margin-bottom: 0;
        padding: 10px;
      }

      .chart-container {
        border: 1px solid @color-border;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        @media (min-width: @screen-lg-min) {
          min-height: 410px;
        }

        .chart {
          padding: 10px;

          span {
            font-size: 1.5em;
          }
        }
      }
    }
  }
}
